
<form asp-action="List" asp-controller="Home" class="form-inline" method="get">
    <input class="form-control mr-sm-2 no-border" type="text" name="SearchString" id="SearchString" placeholder="@Localizer["Search"]">
    <button type="submit" class="btn btn-primary btn-just-icon btn-round"><i class="nc-icon nc-zoom-split"></i></button>
</form>